<h1>Edit item</h1>
<form [formGroup]="formEdit">
    <mat-form-field appearance="fill">
        <mat-label>Input</mat-label>
        <input matInput formControlName="itemName">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select formControlName= "itemColor">
            <mat-option value="blue">Blue</mat-option>
            <mat-option value="red">Red</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Textarea</mat-label>
        <textarea matInput formControlName="itemComment"></textarea>
    </mat-form-field>
</form>
<div class="button-class">
    <button mat-flat-button color="primary" routerLink="/dashboard" (click)="updateValue()">Update</button>
    <button mat-flat-button color="primary" routerLink="/dashboard">Cancel</button>
</div>