
<!-- <h1>{{test_value}}</h1> -->
<!-- <h1>{{id}}</h1> -->
<!-- <input type="text" [(ngModel)]="editNewValue"> -->
<!-- <button mat-flat-button color="primary" (click)="editValueTest()">Update</button> -->
<div class="form-wrapper">
    <form [formGroup]="formEdit">
        <mat-form-field appearance="fill">
            <div>Title</div>
            <input class="edit-title" formControlName="itemTitle">
        </mat-form-field>
        <!-- <mat-form-field appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select formControlName= "itemColor">
                <mat-option value="blue">Blue</mat-option>
                <mat-option value="red">Red</mat-option>
            </mat-select>
        </mat-form-field> -->
        <!-- <mat-form-field appearance="fill">
            <mat-label>Image</mat-label>
            <textarea matInput formControlName="itemImage"></textarea>
        </mat-form-field> -->
    </form>
    <div class="button-class">
        <button mat-flat-button color="primary" routerLink="/dashboard" (click)="updateEditValue(id)">Update</button>
        <button mat-flat-button color="primary" routerLink="/dashboard">Cancel</button>
    </div>
</div>
