.searchbar-wrapper
{
  display: flex;
  justify-content: flex-end;
}
.searchbar {
  padding: 5px;
  width: 30vw;
}

.grid-container {
  margin: 10px 50px;
}

mat-grid-tile {
  width: 20%;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  box-shadow: none;
  background-color: transparent;
}

.dashboard-card .title {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}


.dashboard-card-content {
  text-align: center;
}

.dashboard-card-content div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.dashboard-card-content .button-class {
  visibility: hidden;
}

.dashboard-card-content:hover .button-class {
  visibility: visible;
}

.dashboard-card-content .button-class button{
  margin: 10px;
}

.button-center{
  display: flex;
  justify-content: center;
}

.button-center .add-button {
  border: none;
  background-color: transparent; 
}