<div class="grid-container">
  <div class="searchbar-wrapper">
    <input class="searchbar" type="text" placeholder="Type something to search..." [formControl]="searchItem">
  </div>
  <div class="button-center">
    <button class="add-button" mat-stroked-button color="primary" routerLink="/create">Add new item</button>
  </div>
  <mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile *ngFor="let detail of value, let i = index">
      <mat-card class="dashboard-card">
        <mat-card class="dashboard-card-inside">
          <mat-card-content class="dashboard-card-content">
            <div class ="button-class">
              <button class="edit-button" mat-stroked-button color="primary" (click)="onSelect(detail)">Edit</button>
              <button class="remove-button" mat-stroked-button color="primary" (click)="removeItem(i)">Remove</button>
            </div>
          </mat-card-content>
        </mat-card>
        <div class="title">{{detail.title}}</div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>