.searchbar-wrapper
{
  display: flex;
  justify-content: flex-end;
  padding: 10px 50px;
}
.searchbar {
  padding: 5px;
  width: 30vw;
}

.grid-container {
  margin: 10px 50px;
}

mat-grid-tile {
  width: 20%;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  box-shadow: none;
  background-color: transparent;
}

.dashboard-card .title {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.dashboard-card-inside {
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}


.dashboard-card-content {
  text-align: center;
  width: 100%;
}

.dashboard-card-content div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.dashboard-card-inside {
  aspect-ratio: 1/1;
}

.dashboard-card-inside:hover {
  background-color: black;
}

.dashboard-card-content .button-class {
  visibility: hidden;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.dashboard-card-inside:hover .button-class {
  visibility: visible;
  width: 100%;
}

.dashboard-card-content .button-class .edit-button{
  background-color: transparent;
  border: 1px solid white;
  color: white;
  margin: 0 10px;
}

.dashboard-card-content .button-class .edit-button:hover{
  background-color: white;
  border: 1px solid white;
  color: black;
}

.dashboard-card-content .button-class .remove-button{
  background-color: transparent;
  border: 1px solid red;
  color: red;
}


.dashboard-card-content .button-class .remove-button:hover{
  background-color: red;
  border: 1px solid red;
  color: white;
}

.button-center{
  display: flex;
  justify-content: center;
}

.button-center .add-button {
  border: none;
  background-color: transparent; 
}