.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.dashboard-card-content div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.dashboard-card-content .button-class {
  visibility: hidden;
}

.dashboard-card-content:hover .button-class {
  display: inline;
  visibility: visible;
}

.dashboard-card-content .button-class button{
  margin: 10px;
}
