<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <!-- <h1>{{test_value}}</h1> -->
  <!-- <button mat-stroked-button color="primary" (click)="updateInfo()">Update Edit</button> -->
  <button mat-stroked-button color="primary" routerLink="/create">Add new item</button>
  <button mat-stroked-button color="primary" (click)="search()">Search</button>
  <!-- <button mat-stroked-button color="primary" (click)="addNew()">Load new item</button> -->
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let detail of value, let i = index">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <div>Card: {{i}}</div>
            <!-- {{card.title}} -->
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
          <div>Name: {{detail.title}}</div>
          <div>Color: {{detail.img}}</div>
          <!--content here-->
          <!-- <div class="value">
            <div class="detail" *ngFor="let detail of value">
              <div>Name: {{detail.name}}</div>
            </div>
          </div> -->
          <!-- <button mat-stroked-button color="primary" (click)="getDetail()">Item</button> -->
          <button mat-stroked-button color="primary" (click)="onSelect(detail)">Edit</button>
          <!-- <button mat-stroked-button color="primary" (click)="updateInfo(i)">Update</button> -->
          <button mat-stroked-button color="primary" (click)="removeItem(i)">Remove</button>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>